/* Homework Project 1 Style Sheet 
*/

/*
Index-About Page
*/

body{
    margin: auto;
    background-image: url("../images/circles-dark.png");
}

p, img {
    float: left;
}

p {
    width: 67%;
    margin: 0;
    line-height: 30px;
    vertical-align: text-top;
    font-size: 18px;
    color: grey;
}

#profile_pic {
    width: 33%;
    opacity: 0.8;
    padding-right: 30px;
    /*Transition*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float: left;
    }

#profile_pic:hover {  
    opacity: 1;
 }  

.me{
    color: #4aaaa5;
    padding-bottom: 25px;
    border-bottom: 3px solid #dddddd;
}

.header{
    position: fixed;
    width: 100%;
    min-height: 70px;
    max-height: 70px;
    border-bottom: 2px solid #cccccc;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    max-width: 960px;
    min-width: 960px;
    margin: auto;   
    line-height: 70px;
}

.nav{
    color: white;
    text-align: center;
    margin: 0px;
    float: left;
    width: 350px;
    height: 70px;
    background-color: #4aaaa5; 
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    text-align: center;
}

li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: grey;
    line-height: 70px;
}

li a:hover {
    background-color: #4aaaa5;
    color: white;
    transition: all .5s linear;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


.content{
    flex: 1 0 auto;
    max-width: 900px;
    min-width: 900px;
    margin: auto;
    padding: 30px;
    padding-top: 0px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #dddddd;
    background-color: #ffffff;
}

.footer{
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
    margin-top: 30px;
    border-top: 7px solid #4aaaa5;
    text-align: center;
}

.foot_Div{
    max-width: 960px;
    min-width: 960px;
    margin: auto;
}

.copyright{
    color: #b6b6b6;
    font-size: 12px;
    text-align: center;
    max-width: 960px;
    min-width: 960px;
    margin: auto;
    line-height: 60px;
    vertical-align: bottom;
    /* overflow: hidden; */
}

/*
Contact Page
*/


.contact_Title{
    color: #4aaaa5;
    padding-bottom: 25px;
    border-bottom: 3px solid #dddddd; 
    font-family: Arial, Helvetica, sans-serif;
}

.contact_Body{
    flex: 1 0 auto;
    background-color: #ffffff;
    max-width: 900px;
    min-width: 900px;
    margin: auto;
    margin-top: 100px;
    color: #777777;
    padding: 30px;
    padding-top: 0px;
    border: 2px solid #dddddd;
}

.contact{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    box-sizing: border-box;
    max-width: 900px;
    min-width: 900px;
    margin: auto; }


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3c8683;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}






/*
-----------------Portfoilio Page Styling------------------
*/


.portfolio_Body{
    flex: 1 0 auto;
    max-width: 900px;
    min-width: 900px;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #dddddd;
    background-color: #ffffff;
}


.column {
    width: 250px;
    height: 250px;
    padding: 15px;  
    margin: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}